.ml-1 {
  margin-left: 1rem;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-3 {
  margin-left: 3rem;
}
.ml-4 {
  margin-left: 4rem;
}
.ml-5 {
  margin-left: 5rem;
}
.ml-6 {
  margin-left: 6rem;
}
.ml-7 {
  margin-left: 7rem;
}
.ml-8 {
  margin-left: 8rem;
}
.ml-9 {
  margin-left: 9rem;
}
.ml-10 {
  margin-left: 10rem;
}
.ml-11 {
  margin-left: 11rem;
}
.ml-12 {
  margin-left: 12rem;
}
