@media screen and (min-width: 1440px) {
  .card {
    &-choose {
      &__main-title {
        padding-top: 48px;
      }
      &__title {
        text-align: left;
        margin: 0;
        padding: 48px 0 0 0;
      }
      &__image {
        text-align: left;
        margin-bottom: 0.5rem;
      }
      &__content {
        width: 85%;
        margin-top: 24px;
        margin-bottom: 50px;
      }
    }
    &-next-gen {
      &__bottom {
        width: 450px;
      }
    }
    &-facility {
      // border: 1px solid black;
      display: inline-block;
      width: 19%;

      &:not(:nth-of-type(5)) {
        // border: 1px solid red;
        margin-left: 0.5%;
      }
    }
    &-content-bottom {
      &__button {
        margin: 0;
      }
    }
    &-article {
      margin-left: 170px;
      width: 17%;
      display: inline-block;
      &__image-container {
      }
    }
  }
}
