@media screen and (min-width: 1440px) {
  .header {
    max-width: 1440px;
    z-index: 200;
    background-color: white;
    padding: 1.5rem;
    &-logo-and-nav {
      margin-left: 170px;
    }
  }
}
