@media screen and (min-width: 1440px) {
  body {
    margin: 0 0px;
  }
  .container {
    &-main {
      max-width: 1440px;
      padding-left: 0px;
    }

    &-next-gen__content-top {
      width: 700px;
      height: 600px;
      float: right;
      background-image: url("../images/bg-intro-desktop.svg");
      background-repeat: no-repeat;
      background-size: 150% 138%;
      background-position: -44px -190px;
      overflow: visible;
      z-index: 100;
    }

    &-image-mobile {
      position: relative;
      width: 90%;
      height: 100%;
      top: -75px;
      left: 120px;
    }

    &-next-gen__content-bottom {
      margin-top: 70px;
      width: 45%;
      float: left;
      position: relative;
      left: 170px;
      top: 30px;

      & .title-h1 {
        text-align: left;
      }
    }
    &-choose {
      width: 100%;
      margin-left: 170px;
    }
  }
}
