@media screen and (min-width: 1440px) {
  .image {
    &-header-logo {
      margin-top: 0rem;
      margin-left: 0;
      position: relative;
      top: 5px;
    }
    &-burger {
      display: none;
    }
    &-card-choose {
      margin-left: 0;
    }
    &-article {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
