@media screen and (min-width: 1440px) {
  .card {
    &-article {
      width: 19%;
      display: inline-block;
      &:not(:first-of-type) {
        margin-left: 1.8rem;
      }

      &__main-title {
        text-align: left;
      }
      vertical-align: top;
      &__image-container {
        margin: 0;
        width: 100%;
        height: 180px;
        overflow: hidden;
      }
      &__author {
        font-size: 17px;
        margin-bottom: 12px;
      }
      &__heading {
        font-size: 22px;
        margin-bottom: 14px;
      }
      &__contents-container {
        margin: 0 1rem;
      }

      &__details {
        font-size: 18px;
        line-height: 1.3rem;
      }
    }
  }
}
