@media screen and (min-width: 1440px) {
  .card {
    &-feature {
      display: inline-block;
      width: 19%;

      &:not(:nth-of-type(5)) {
        // border: 1px solid red;
        margin-left: 0.5%;
      }
    }
  }
}
